<div class="row small">
	<div class="col-xs-12 col-lg-6 text-muted">
		<%= t.taskName %>
	</div>
	<div class="col-xs-12 col-lg-6">
		<input type="text" name="taskName" class="form-control" value="<%= model.taskName %>">
	</div>
</div>

<div class="row small">
	<div class="col-xs-12 col-lg-6 text-muted">
		<%= t.taskType %>
	</div>
	<div class="col-xs-12 col-lg-6">
		<input type="radio" name="schedulerTaskType" id="ONE_TIME"> One time<br />
		<input type="radio" name="schedulerTaskType" id="DAILY" checked> Daily<br />
		<input type="radio" name="schedulerTaskType" id="WEEKLY"> Weekly<br />
		<input type="radio" name="schedulerTaskType" id="MONTHLY"> Monthly
	</div>
</div>

<div class="row small">
	<div class="col-xs-12 col-lg-6 text-muted">
		<%= t.taskDescription %>
	</div>
	<div class="col-xs-12 col-lg-6">
		<textarea name="taskDescription" class="form-control" cols="24"><%= model.taskDescription %></textarea>
	</div>
</div>

<div class="row small">
	<div class="col-xs-12 col-lg-6 text-muted">
		<%= t.taskParametersJSON %>
	</div>
	<div class="col-xs-12 col-lg-6">
		<textarea name="taskParametersJSON" class="form-control" cols="24"><%= model.taskParametersJSON %></textarea>
	</div>
</div>