<div class="row">
	<div class="col-xs-12 col-lg-6 text-muted">
		<%= t.taskName %>
	</div>
	<div class="col-xs-12 col-lg-6">
		<%= model.taskName %>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-lg-6 text-muted">
		<%= t.taskUrl %>
	</div>
	<div class="col-xs-12 col-lg-6">
		<%= model.remoteURL %>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-lg-6 text-muted">
		<%= t.taskRemoteParametersJSON %>
	</div>
	<div class="col-xs-12 col-lg-6">
		<%= model.remoteParametersJSON %>
	</div>
</div>