<div class="row">
	<div class="col-xs-12 col-lg-6 text-muted">
		<%= t.taskName %>
	</div>
	<div class="col-xs-12 col-lg-6">
		<%= model.taskName %> (<%= model.taskId %>)
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-lg-6 text-muted">
		<%= t.taskType %>
	</div>
	<div class="col-xs-12 col-lg-6">
		<%= model.taskType %>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-lg-6 text-muted">
		<%= t.taskDescription %>
	</div>
	<div class="col-xs-12 col-lg-6">
		<%= model.taskDescription %>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-lg-6 text-muted">
		<%= t.taskParametersJSON %>
	</div>
	<div class="col-xs-12 col-lg-6">
		<%= model.taskParametersJSON %>
	</div>
</div>