<div class="row small">
	<div class="col-xs-12 col-lg-6 text-muted">
		<%= t.taskName %>
	</div>
	<div class="col-xs-12 col-lg-6">
		#<%= model.taskId %>: <%= model.taskName %>
	</div>
</div>

<div class="row small">
	<div class="col-xs-12 col-lg-6 text-muted">
		<%= t.taskType %>
	</div>
	<div class="col-xs-12 col-lg-6">
		<%= model.taskType %>
	</div>
</div>

<div class="row small">
	<div class="col-xs-12 col-lg-6 text-muted">
		<%= t.taskDescription %>
	</div>
	<div class="col-xs-12 col-lg-6">
		<%= model.taskDescription %>
	</div>
</div>

<hr />

<div class="row small">
	<div class="col-xs-12 col-lg-6 text-muted">
		<%= t.requestUrl %>
	</div>
	<div class="col-xs-12 col-lg-6">
		<%= model.remoteJob.requestUrl %>
	</div>
</div>

<div class="row small">
	<div class="requestMethod col-lg-6 text-muted">
		<%= t.requestUrl %>
	</div>
	<div class="col-xs-12 col-lg-6">
		<%= model.remoteJob.requestMethod %>
	</div>
</div>

<div class="row small">
	<div class="col-xs-12 col-lg-6 text-muted">
		<%= t.authString %>
	</div>
	<div class="col-xs-12 col-lg-6">
		<%= model.remoteJob.authString %>
	</div>
</div>

<% if(model.remoteJob.requestMethod != 'GET') { %>
	<div class="row small">
		<div class="col-xs-12 col-lg-6 text-muted">
			<%= t.postJson %>
		</div>
		<div class="col-xs-12 col-lg-6">
			<%= model.remoteJob.postJson %>
		</div>
	</div>
<% } %>